*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.19 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.pointer-events-none {
  pointer-events: none;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.inset-0 {
  inset: 0px;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-1 {
  bottom: 0.25rem;
}

.left-0 {
  left: 0px;
}

.left-\[14px\] {
  left: 14px;
}

.left-\[7px\] {
  left: 7px;
}

.right-0 {
  right: 0px;
}

.top-0 {
  top: 0px;
}

.top-1 {
  top: 0.25rem;
}

.top-1\/2 {
  top: 50%;
}

.top-\[7px\] {
  top: 7px;
}

.-z-10 {
  z-index: -10;
}

.z-50 {
  z-index: 50;
}

.z-\[100\] {
  z-index: 100;
}

.z-\[1\] {
  z-index: 1;
}

.z-\[99\] {
  z-index: 99;
}

.m-0 {
  margin: 0px;
}

.mx-\[6px\] {
  margin-left: 6px;
  margin-right: 6px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-\[18px\] {
  margin-top: 18px;
  margin-bottom: 18px;
}

.my-px {
  margin-top: 1px;
  margin-bottom: 1px;
}

.-mb-px {
  margin-bottom: -1px;
}

.-ml-8 {
  margin-left: -2rem;
}

.-ml-px {
  margin-left: -1px;
}

.-mt-\[6\.6rem\] {
  margin-top: -6.6rem;
}

.-mt-px {
  margin-top: -1px;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-\[10px\] {
  margin-bottom: 10px;
}

.mb-\[14px\] {
  margin-bottom: 14px;
}

.mb-\[22px\] {
  margin-bottom: 22px;
}

.mb-\[6px\] {
  margin-bottom: 6px;
}

.mb-px {
  margin-bottom: 1px;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-12 {
  margin-left: 3rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-\[30px\] {
  margin-left: 30px;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-64 {
  margin-right: 16rem;
}

.mr-\[6px\] {
  margin-right: 6px;
}

.mr-auto {
  margin-right: auto;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-\[14px\] {
  margin-top: 14px;
}

.mt-\[18px\] {
  margin-top: 18px;
}

.mt-\[2px\] {
  margin-top: 2px;
}

.mt-\[3px\] {
  margin-top: 3px;
}

.mt-px {
  margin-top: 1px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.contents {
  display: contents;
}

.hidden {
  display: none;
}

.aspect-\[335\/364\] {
  aspect-ratio: 335/364;
}

.h-1 {
  height: 0.25rem;
}

.h-1\.5 {
  height: 0.375rem;
}

.h-11 {
  height: 2.75rem;
}

.h-14 {
  height: 3.5rem;
}

.h-16 {
  height: 4rem;
}

.h-2 {
  height: 0.5rem;
}

.h-2\.5 {
  height: 0.625rem;
}

.h-20 {
  height: 5rem;
}

.h-3 {
  height: 0.75rem;
}

.h-3\.5 {
  height: 0.875rem;
}

.h-5 {
  height: 1.25rem;
}

.h-8 {
  height: 2rem;
}

.h-9 {
  height: 2.25rem;
}

.h-\[18px\] {
  height: 18px;
}

.h-\[200px\] {
  height: 200px;
}

.h-\[280px\] {
  height: 280px;
}

.h-\[30px\] {
  height: 30px;
}

.h-\[34px\] {
  height: 34px;
}

.h-\[54px\] {
  height: 54px;
}

.h-\[6px\] {
  height: 6px;
}

.h-\[7px\] {
  height: 7px;
}

.h-full {
  height: 100%;
}

.max-h-full {
  max-height: 100%;
}

.min-h-\[100dvh\] {
  min-height: 100dvh;
}

.min-h-\[400px\] {
  min-height: 400px;
}

.min-h-\[70px\] {
  min-height: 70px;
}

.min-h-screen {
  min-height: 100vh;
}

.w-1 {
  width: 0.25rem;
}

.w-1\.5 {
  width: 0.375rem;
}

.w-12 {
  width: 3rem;
}

.w-2 {
  width: 0.5rem;
}

.w-2\.5 {
  width: 0.625rem;
}

.w-20 {
  width: 5rem;
}

.w-3 {
  width: 0.75rem;
}

.w-3\.5 {
  width: 0.875rem;
}

.w-5 {
  width: 1.25rem;
}

.w-64 {
  width: 16rem;
}

.w-8 {
  width: 2rem;
}

.w-9 {
  width: 2.25rem;
}

.w-\[12\%\] {
  width: 12%;
}

.w-\[140px\] {
  width: 140px;
}

.w-\[18px\] {
  width: 18px;
}

.w-\[19\%\] {
  width: 19%;
}

.w-\[220px\] {
  width: 220px;
}

.w-\[28\%\] {
  width: 28%;
}

.w-\[280px\] {
  width: 280px;
}

.w-\[30px\] {
  width: 30px;
}

.w-\[34px\] {
  width: 34px;
}

.w-\[42\%\] {
  width: 42%;
}

.w-\[438px\] {
  width: 438px;
}

.w-\[6px\] {
  width: 6px;
}

.w-\[70px\] {
  width: 70px;
}

.w-\[71\%\] {
  width: 71%;
}

.w-\[7px\] {
  width: 7px;
}

.w-auto {
  width: auto;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.min-w-0 {
  min-width: 0px;
}

.min-w-\[36px\] {
  min-width: 36px;
}

.max-w-6xl {
  max-width: 72rem;
}

.max-w-\[220px\] {
  max-width: 220px;
}

.max-w-\[335px\] {
  max-width: 335px;
}

.max-w-\[420px\] {
  max-width: 420px;
}

.max-w-none {
  max-width: none;
}

.max-w-xl {
  max-width: 36rem;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.shrink-0 {
  flex-shrink: 0;
}

.border-collapse {
  border-collapse: collapse;
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-0 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-\[10px\] {
  --tw-translate-y: 10px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.cursor-default {
  cursor: default;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
}

.select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.resize {
  resize: both;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-\[1fr_340px\] {
  grid-template-columns: 1fr 340px;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-items-center {
  justify-items: center;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[14px\] {
  gap: 14px;
}

.gap-\[3px\] {
  gap: 3px;
}

.gap-\[6px\] {
  gap: 6px;
}

.space-x-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[4px\] {
  border-radius: 4px;
}

.rounded-\[7px\] {
  border-radius: 7px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-sm {
  border-radius: 0.125rem;
}

.rounded-l-md {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.rounded-r-md {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.rounded-t-lg {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.rounded-bl-lg {
  border-bottom-left-radius: 0.5rem;
}

.rounded-br-lg {
  border-bottom-right-radius: 0.5rem;
}

.border {
  border-width: 1px;
}

.border-0 {
  border-width: 0px;
}

.border-\[1\.5px\] {
  border-width: 1.5px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-b-0 {
  border-bottom-width: 0px;
}

.border-l {
  border-left-width: 1px;
}

.border-r {
  border-right-width: 1px;
}

.border-r-\[3px\] {
  border-right-width: 3px;
}

.border-t {
  border-top-width: 1px;
}

.border-\[\#19140035\] {
  border-color: #19140035;
}

.border-\[\#e3e3e0\] {
  --tw-border-opacity: 1;
  border-color: rgb(227 227 224 / var(--tw-border-opacity, 1));
}

.border-accent {
  --tw-border-opacity: 1;
  border-color: rgb(160 122 245 / var(--tw-border-opacity, 1));
}

.border-accent\/\[0\.25\] {
  border-color: rgb(160 122 245 / 0.25);
}

.border-accent\/\[0\.2\] {
  border-color: rgb(160 122 245 / 0.2);
}

.border-b1 {
  --tw-border-opacity: 1;
  border-color: rgb(34 34 48 / var(--tw-border-opacity, 1));
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
}

.border-gray-400 {
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity, 1));
}

.border-green\/\[0\.2\] {
  border-color: rgb(11 191 83 / 0.2);
}

.border-orange {
  --tw-border-opacity: 1;
  border-color: rgb(245 146 58 / var(--tw-border-opacity, 1));
}

.border-orange\/\[0\.25\] {
  border-color: rgb(245 146 58 / 0.25);
}

.border-red {
  --tw-border-opacity: 1;
  border-color: rgb(240 92 92 / var(--tw-border-opacity, 1));
}

.border-red\/\[0\.25\] {
  border-color: rgb(240 92 92 / 0.25);
}

.border-red\/\[0\.2\] {
  border-color: rgb(240 92 92 / 0.2);
}

.border-s1 {
  --tw-border-opacity: 1;
  border-color: rgb(17 17 22 / var(--tw-border-opacity, 1));
}

.border-transparent {
  border-color: transparent;
}

.bg-\[\#111116\] {
  --tw-bg-opacity: 1;
  background-color: rgb(17 17 22 / var(--tw-bg-opacity, 1));
}

.bg-\[\#1b1b18\] {
  --tw-bg-opacity: 1;
  background-color: rgb(27 27 24 / var(--tw-bg-opacity, 1));
}

.bg-\[\#29a9eb\]\/\[0\.12\] {
  background-color: rgb(41 169 235 / 0.12);
}

.bg-\[\#FDFDFC\] {
  --tw-bg-opacity: 1;
  background-color: rgb(253 253 252 / var(--tw-bg-opacity, 1));
}

.bg-\[\#dbdbd7\] {
  --tw-bg-opacity: 1;
  background-color: rgb(219 219 215 / var(--tw-bg-opacity, 1));
}

.bg-\[\#fff2f2\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 242 242 / var(--tw-bg-opacity, 1));
}

.bg-accent\/\[0\.1\] {
  background-color: rgb(160 122 245 / 0.1);
}

.bg-b1 {
  --tw-bg-opacity: 1;
  background-color: rgb(34 34 48 / var(--tw-bg-opacity, 1));
}

.bg-bg {
  --tw-bg-opacity: 1;
  background-color: rgb(12 12 16 / var(--tw-bg-opacity, 1));
}

.bg-black\/\[0\.55\] {
  background-color: rgb(0 0 0 / 0.55);
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
}

.bg-green {
  --tw-bg-opacity: 1;
  background-color: rgb(11 191 83 / var(--tw-bg-opacity, 1));
}

.bg-green\/\[0\.08\] {
  background-color: rgb(11 191 83 / 0.08);
}

.bg-orange {
  --tw-bg-opacity: 1;
  background-color: rgb(245 146 58 / var(--tw-bg-opacity, 1));
}

.bg-orange\/\[0\.12\] {
  background-color: rgb(245 146 58 / 0.12);
}

.bg-orange\/\[0\.1\] {
  background-color: rgb(245 146 58 / 0.1);
}

.bg-red {
  --tw-bg-opacity: 1;
  background-color: rgb(240 92 92 / var(--tw-bg-opacity, 1));
}

.bg-red\/\[0\.1\] {
  background-color: rgb(240 92 92 / 0.1);
}

.bg-s1 {
  --tw-bg-opacity: 1;
  background-color: rgb(17 17 22 / var(--tw-bg-opacity, 1));
}

.bg-s2 {
  --tw-bg-opacity: 1;
  background-color: rgb(22 22 28 / var(--tw-bg-opacity, 1));
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-gradient-to-br {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}

.from-accent {
  --tw-gradient-from: #a07af5 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(160 122 245 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-\[\#6a4dcc\] {
  --tw-gradient-to: #6a4dcc var(--tw-gradient-to-position);
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.p-1 {
  padding: 0.25rem;
}

.p-10 {
  padding: 2.5rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-\[10px\] {
  padding: 10px;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}

.px-\[14px\] {
  padding-left: 14px;
  padding-right: 14px;
}

.px-\[5px\] {
  padding-left: 5px;
  padding-right: 5px;
}

.px-\[6px\] {
  padding-left: 6px;
  padding-right: 6px;
}

.px-\[7px\] {
  padding-left: 7px;
  padding-right: 7px;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-\[18px\] {
  padding-top: 18px;
  padding-bottom: 18px;
}

.py-\[2px\] {
  padding-top: 2px;
  padding-bottom: 2px;
}

.py-\[3px\] {
  padding-top: 3px;
  padding-bottom: 3px;
}

.py-\[6px\] {
  padding-top: 6px;
  padding-bottom: 6px;
}

.py-\[9px\] {
  padding-top: 9px;
  padding-bottom: 9px;
}

.py-px {
  padding-top: 1px;
  padding-bottom: 1px;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-\[10px\] {
  padding-bottom: 10px;
}

.pl-\[40px\] {
  padding-left: 40px;
}

.pr-\[14px\] {
  padding-right: 14px;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pt-\[2px\] {
  padding-top: 2px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.align-middle {
  vertical-align: middle;
}

.font-\[Vazirmatn\2c _sans-serif\] {
  font-family: Vazirmatn, sans-serif;
}

.text-\[10\.5px\] {
  font-size: 10.5px;
}

.text-\[10px\] {
  font-size: 10px;
}

.text-\[11\.5px\] {
  font-size: 11.5px;
}

.text-\[11px\] {
  font-size: 11px;
}

.text-\[12\.5px\] {
  font-size: 12.5px;
}

.text-\[13\.5px\] {
  font-size: 13.5px;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[17px\] {
  font-size: 17px;
}

.text-\[19px\] {
  font-size: 19px;
}

.text-\[22px\] {
  font-size: 22px;
}

.text-\[26px\] {
  font-size: 26px;
}

.text-\[42px\] {
  font-size: 42px;
}

.text-\[9px\] {
  font-size: 9px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-black {
  font-weight: 900;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.leading-5 {
  line-height: 1.25rem;
}

.leading-7 {
  line-height: 1.75rem;
}

.leading-\[1\.1\] {
  line-height: 1.1;
}

.leading-\[1\.8\] {
  line-height: 1.8;
}

.leading-\[20px\] {
  line-height: 20px;
}

.leading-normal {
  line-height: 1.5;
}

.tracking-\[-0\.3px\] {
  letter-spacing: -0.3px;
}

.tracking-\[-0\.4px\] {
  letter-spacing: -0.4px;
}

.tracking-\[-0\.5px\] {
  letter-spacing: -0.5px;
}

.tracking-\[2\.5px\] {
  letter-spacing: 2.5px;
}

.tracking-wider {
  letter-spacing: 0.05em;
}

.text-\[\#1B1B18\] {
  --tw-text-opacity: 1;
  color: rgb(27 27 24 / var(--tw-text-opacity, 1));
}

.text-\[\#1b1b18\] {
  --tw-text-opacity: 1;
  color: rgb(27 27 24 / var(--tw-text-opacity, 1));
}

.text-\[\#706f6c\] {
  --tw-text-opacity: 1;
  color: rgb(112 111 108 / var(--tw-text-opacity, 1));
}

.text-\[\#F3BEC7\] {
  --tw-text-opacity: 1;
  color: rgb(243 190 199 / var(--tw-text-opacity, 1));
}

.text-\[\#F53003\] {
  --tw-text-opacity: 1;
  color: rgb(245 48 3 / var(--tw-text-opacity, 1));
}

.text-\[\#F8B803\] {
  --tw-text-opacity: 1;
  color: rgb(248 184 3 / var(--tw-text-opacity, 1));
}

.text-\[\#f53003\] {
  --tw-text-opacity: 1;
  color: rgb(245 48 3 / var(--tw-text-opacity, 1));
}

.text-accent {
  --tw-text-opacity: 1;
  color: rgb(160 122 245 / var(--tw-text-opacity, 1));
}

.text-gray-200 {
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity, 1));
}

.text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity, 1));
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1));
}

.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity, 1));
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1));
}

.text-green {
  --tw-text-opacity: 1;
  color: rgb(11 191 83 / var(--tw-text-opacity, 1));
}

.text-orange {
  --tw-text-opacity: 1;
  color: rgb(245 146 58 / var(--tw-text-opacity, 1));
}

.text-red {
  --tw-text-opacity: 1;
  color: rgb(240 92 92 / var(--tw-text-opacity, 1));
}

.text-watan-text {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-watan-text2 {
  --tw-text-opacity: 1;
  color: rgb(168 196 168 / var(--tw-text-opacity, 1));
}

.text-watan-text3 {
  --tw-text-opacity: 1;
  color: rgb(77 122 86 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.underline {
  text-decoration-line: underline;
}

.no-underline {
  text-decoration-line: none;
}

.underline-offset-4 {
  text-underline-offset: 4px;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.opacity-0 {
  opacity: 0;
}

.opacity-10 {
  opacity: 0.1;
}

.opacity-100 {
  opacity: 1;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-80 {
  opacity: 0.8;
}

.mix-blend-multiply {
  mix-blend-mode: multiply;
}

.mix-blend-darken {
  mix-blend-mode: darken;
}

.mix-blend-hard-light {
  mix-blend-mode: hard-light;
}

.mix-blend-color {
  mix-blend-mode: color;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0_0_16px_rgba\(11\2c 191\2c 83\2c 0\.3\)\] {
  --tw-shadow: 0 0 16px rgba(11,191,83,0.3);
  --tw-shadow-colored: 0 0 16px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0_0_6px_rgb\(var\(--green\)\)\] {
  --tw-shadow: 0 0 6px rgb(var(--green));
  --tw-shadow-colored: 0 0 6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0_0_6px_rgb\(var\(--orange\)\)\] {
  --tw-shadow: 0 0 6px rgb(var(--orange));
  --tw-shadow-colored: 0 0 6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0_0_8px_rgb\(var\(--green\)\)\] {
  --tw-shadow: 0 0 8px rgb(var(--green));
  --tw-shadow-colored: 0 0 8px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0_20px_60px_rgba\(0\2c 0\2c 0\2c 0\.4\)\] {
  --tw-shadow: 0 20px 60px rgba(0,0,0,0.4);
  --tw-shadow-colored: 0 20px 60px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0px_0px_1px_0px_rgba\(0\2c 0\2c 0\2c 0\.03\)\2c 0px_1px_2px_0px_rgba\(0\2c 0\2c 0\2c 0\.06\)\] {
  --tw-shadow: 0px 0px 1px 0px rgba(0,0,0,0.03),0px 1px 2px 0px rgba(0,0,0,0.06);
  --tw-shadow-colored: 0px 0px 1px 0px var(--tw-shadow-color), 0px 1px 2px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[inset_0px_0px_0px_1px_rgba\(26\2c 26\2c 0\2c 0\.16\)\] {
  --tw-shadow: inset 0px 0px 0px 1px rgba(26,26,0,0.16);
  --tw-shadow-colored: inset 0px 0px 0px 1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.outline {
  outline-style: solid;
}

.ring-gray-300 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(209 213 219 / var(--tw-ring-opacity, 1));
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.blur-\[80px\] {
  --tw-blur: blur(80px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.invert {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.backdrop-filter {
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-\[height\] {
  transition-property: height;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-\[width\] {
  transition-property: width;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.delay-200 {
  transition-delay: 200ms;
}

.delay-300 {
  transition-delay: 300ms;
}

.duration-150 {
  transition-duration: 150ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.duration-\[250ms\] {
  transition-duration: 250ms;
}

.duration-\[350ms\] {
  transition-duration: 350ms;
}

.duration-\[400ms\] {
  transition-duration: 400ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.\[--stroke-color\:\#1B1B18\] {
  --stroke-color: #1B1B18;
}

.\[direction\:ltr\] {
  direction: ltr;
}

.\[transition\:background-color_0\.15s\2c transform_0\.1s\] {
  transition: background-color 0.15s,transform 0.1s;
}

.\[transition\:border-color_0\.15s\2c background-color_0\.15s\2c transform_0\.1s\] {
  transition: border-color 0.15s,background-color 0.15s,transform 0.1s;
}

.\[transition\:opacity_0\.28s_ease\2c transform_0\.28s_ease\2c visibility_0\.28s\] {
  transition: opacity 0.28s ease,transform 0.28s ease,visibility 0.28s;
}

.placeholder\:text-watan-text3::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(77 122 86 / var(--tw-text-opacity, 1));
}

.placeholder\:text-watan-text3::placeholder {
  --tw-text-opacity: 1;
  color: rgb(77 122 86 / var(--tw-text-opacity, 1));
}

.before\:absolute::before {
  content: var(--tw-content);
  position: absolute;
}

.before\:-right-\[100px\]::before {
  content: var(--tw-content);
  right: -100px;
}

.before\:-top-\[120px\]::before {
  content: var(--tw-content);
  top: -120px;
}

.before\:bottom-0::before {
  content: var(--tw-content);
  bottom: 0px;
}

.before\:bottom-1\/2::before {
  content: var(--tw-content);
  bottom: 50%;
}

.before\:left-\[0\.4rem\]::before {
  content: var(--tw-content);
  left: 0.4rem;
}

.before\:right-0::before {
  content: var(--tw-content);
  right: 0px;
}

.before\:top-0::before {
  content: var(--tw-content);
  top: 0px;
}

.before\:top-1\/2::before {
  content: var(--tw-content);
  top: 50%;
}

.before\:h-\[420px\]::before {
  content: var(--tw-content);
  height: 420px;
}

.before\:h-full::before {
  content: var(--tw-content);
  height: 100%;
}

.before\:h-px::before {
  content: var(--tw-content);
  height: 1px;
}

.before\:w-\[3px\]::before {
  content: var(--tw-content);
  width: 3px;
}

.before\:w-\[420px\]::before {
  content: var(--tw-content);
  width: 420px;
}

.before\:flex-1::before {
  content: var(--tw-content);
  flex: 1 1 0%;
}

.before\:rounded-full::before {
  content: var(--tw-content);
  border-radius: 9999px;
}

.before\:rounded-br-\[10px\]::before {
  content: var(--tw-content);
  border-bottom-right-radius: 10px;
}

.before\:rounded-tr-\[10px\]::before {
  content: var(--tw-content);
  border-top-right-radius: 10px;
}

.before\:border-l::before {
  content: var(--tw-content);
  border-left-width: 1px;
}

.before\:border-\[\#e3e3e0\]::before {
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-color: rgb(227 227 224 / var(--tw-border-opacity, 1));
}

.before\:bg-accent::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(160 122 245 / var(--tw-bg-opacity, 1));
}

.before\:bg-b1::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(34 34 48 / var(--tw-bg-opacity, 1));
}

.before\:bg-green::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(11 191 83 / var(--tw-bg-opacity, 1));
}

.before\:bg-orange::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(245 146 58 / var(--tw-bg-opacity, 1));
}

.before\:bg-red::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(240 92 92 / var(--tw-bg-opacity, 1));
}

.before\:opacity-0::before {
  content: var(--tw-content);
  opacity: 0;
}

.before\:opacity-\[0\.14\]::before {
  content: var(--tw-content);
  opacity: 0.14;
}

.before\:blur-\[90px\]::before {
  content: var(--tw-content);
  --tw-blur: blur(90px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.before\:transition-opacity::before {
  content: var(--tw-content);
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.before\:duration-200::before {
  content: var(--tw-content);
  transition-duration: 200ms;
}

.before\:content-\[\'\'\]::before {
  --tw-content: '';
  content: var(--tw-content);
}

.after\:absolute::after {
  content: var(--tw-content);
  position: absolute;
}

.after\:-bottom-\[140px\]::after {
  content: var(--tw-content);
  bottom: -140px;
}

.after\:-left-\[100px\]::after {
  content: var(--tw-content);
  left: -100px;
}

.after\:h-\[380px\]::after {
  content: var(--tw-content);
  height: 380px;
}

.after\:h-px::after {
  content: var(--tw-content);
  height: 1px;
}

.after\:w-\[380px\]::after {
  content: var(--tw-content);
  width: 380px;
}

.after\:flex-1::after {
  content: var(--tw-content);
  flex: 1 1 0%;
}

.after\:rounded-full::after {
  content: var(--tw-content);
  border-radius: 9999px;
}

.after\:bg-b1::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(34 34 48 / var(--tw-bg-opacity, 1));
}

.after\:bg-green::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(11 191 83 / var(--tw-bg-opacity, 1));
}

.after\:opacity-\[0\.14\]::after {
  content: var(--tw-content);
  opacity: 0.14;
}

.after\:blur-\[90px\]::after {
  content: var(--tw-content);
  --tw-blur: blur(90px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.after\:content-\[\'\'\]::after {
  --tw-content: '';
  content: var(--tw-content);
}

.autofill\:shadow-\[0_0_0px_1000px_var\(--s2\)_inset\]:-webkit-autofill {
  --tw-shadow: 0 0 0px 1000px var(--s2) inset;
  --tw-shadow-colored: inset 0 0 0px 1000px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.autofill\:shadow-\[0_0_0px_1000px_var\(--s2\)_inset\]:autofill {
  --tw-shadow: 0 0 0px 1000px var(--s2) inset;
  --tw-shadow-colored: inset 0 0 0px 1000px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.autofill\:\[-webkit-text-fill-color\:var\(--text\)\]:-webkit-autofill {
  -webkit-text-fill-color: var(--text);
}

.autofill\:\[-webkit-text-fill-color\:var\(--text\)\]:autofill {
  -webkit-text-fill-color: var(--text);
}

.autofill\:\[caret-color\:var\(--text\)\]:-webkit-autofill {
  caret-color: var(--text);
}

.autofill\:\[caret-color\:var\(--text\)\]:autofill {
  caret-color: var(--text);
}

.autofill\:\[transition\:background-color_5000s_ease-in-out_0s\]:-webkit-autofill {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.autofill\:\[transition\:background-color_5000s_ease-in-out_0s\]:autofill {
  transition: background-color 5000s ease-in-out 0s;
}

.focus-within\:border-green:focus-within {
  --tw-border-opacity: 1;
  border-color: rgb(11 191 83 / var(--tw-border-opacity, 1));
}

.hover\:-translate-y-px:hover {
  --tw-translate-y: -1px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:border-\[\#19140035\]:hover {
  border-color: #19140035;
}

.hover\:border-\[\#1915014a\]:hover {
  border-color: #1915014a;
}

.hover\:border-accent:hover {
  --tw-border-opacity: 1;
  border-color: rgb(160 122 245 / var(--tw-border-opacity, 1));
}

.hover\:border-black:hover {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
}

.hover\:bg-\[\#09a447\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(9 164 71 / var(--tw-bg-opacity, 1));
}

.hover\:bg-black:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.hover\:bg-red\/\[0\.1\]:hover {
  background-color: rgb(240 92 92 / 0.1);
}

.hover\:bg-s2:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(22 22 28 / var(--tw-bg-opacity, 1));
}

.hover\:text-accent:hover {
  --tw-text-opacity: 1;
  color: rgb(160 122 245 / var(--tw-text-opacity, 1));
}

.hover\:text-watan-text:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.hover\:opacity-100:hover {
  opacity: 1;
}

.hover\:before\:opacity-100:hover::before {
  content: var(--tw-content);
  opacity: 1;
}

.focus\:border-green:focus {
  --tw-border-opacity: 1;
  border-color: rgb(11 191 83 / var(--tw-border-opacity, 1));
}

.active\:translate-y-0:active {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.active\:scale-\[0\.99\]:active {
  --tw-scale-x: 0.99;
  --tw-scale-y: 0.99;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:bg-s2 {
  --tw-bg-opacity: 1;
  background-color: rgb(22 22 28 / var(--tw-bg-opacity, 1));
}

.group:hover .group-hover\:bg-watan-text3 {
  --tw-bg-opacity: 1;
  background-color: rgb(77 122 86 / var(--tw-bg-opacity, 1));
}

.group:hover .group-hover\:text-red {
  --tw-text-opacity: 1;
  color: rgb(240 92 92 / var(--tw-text-opacity, 1));
}

.group:hover .group-hover\:text-watan-text {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.group:hover .group-hover\:text-watan-text2 {
  --tw-text-opacity: 1;
  color: rgb(168 196 168 / var(--tw-text-opacity, 1));
}

.dark\:border-\[\#3E3E3A\]:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(62 62 58 / var(--tw-border-opacity, 1));
}

.dark\:border-\[\#eeeeec\]:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(238 238 236 / var(--tw-border-opacity, 1));
}

.dark\:bg-\[\#0a0a0a\]:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(10 10 10 / var(--tw-bg-opacity, 1));
}

.dark\:bg-\[\#161615\]:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(22 22 21 / var(--tw-bg-opacity, 1));
}

.dark\:bg-\[\#1D0002\]:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(29 0 2 / var(--tw-bg-opacity, 1));
}

.dark\:bg-\[\#3E3E3A\]:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(62 62 58 / var(--tw-bg-opacity, 1));
}

.dark\:bg-\[\#eeeeec\]:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(238 238 236 / var(--tw-bg-opacity, 1));
}

.dark\:text-\[\#1C1C1A\]:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(28 28 26 / var(--tw-text-opacity, 1));
}

.dark\:text-\[\#391800\]:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(57 24 0 / var(--tw-text-opacity, 1));
}

.dark\:text-\[\#4B0600\]:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(75 6 0 / var(--tw-text-opacity, 1));
}

.dark\:text-\[\#733000\]:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(115 48 0 / var(--tw-text-opacity, 1));
}

.dark\:text-\[\#A1A09A\]:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(161 160 154 / var(--tw-text-opacity, 1));
}

.dark\:text-\[\#EDEDEC\]:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(237 237 236 / var(--tw-text-opacity, 1));
}

.dark\:text-\[\#F61500\]:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(246 21 0 / var(--tw-text-opacity, 1));
}

.dark\:text-\[\#FF4433\]:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(255 68 51 / var(--tw-text-opacity, 1));
}

.dark\:text-black:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.dark\:mix-blend-normal:is(.dark *) {
  mix-blend-mode: normal;
}

.dark\:mix-blend-hard-light:is(.dark *) {
  mix-blend-mode: hard-light;
}

.dark\:shadow-\[inset_0px_0px_0px_1px_\#fffaed2d\]:is(.dark *) {
  --tw-shadow: inset 0px 0px 0px 1px #fffaed2d;
  --tw-shadow-colored: inset 0px 0px 0px 1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.dark\:\[--stroke-color\:\#FF750F\]:is(.dark *) {
  --stroke-color: #FF750F;
}

.dark\:before\:border-\[\#3E3E3A\]:is(.dark *)::before {
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-color: rgb(62 62 58 / var(--tw-border-opacity, 1));
}

.dark\:hover\:border-\[\#3E3E3A\]:hover:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(62 62 58 / var(--tw-border-opacity, 1));
}

.dark\:hover\:border-\[\#62605b\]:hover:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(98 96 91 / var(--tw-border-opacity, 1));
}

.dark\:hover\:border-white:hover:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.dark\:hover\:bg-white:hover:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

@media (max-width: 1100px) {
  .max-\[1100px\]\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .max-\[1100px\]\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 900px) {
  .max-\[900px\]\:mr-0 {
    margin-right: 0px;
  }

  .max-\[900px\]\:block {
    display: block;
  }

  .max-\[900px\]\:flex {
    display: flex;
  }

  .max-\[900px\]\:translate-x-full {
    --tw-translate-x: 100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .max-\[900px\]\:shadow-\[-12px_0_32px_rgba\(0\2c 0\2c 0\2c 0\.4\)\] {
    --tw-shadow: -12px 0 32px rgba(0,0,0,0.4);
    --tw-shadow-colored: -12px 0 32px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .max-\[900px\]\:transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .max-\[900px\]\:duration-\[250ms\] {
    transition-duration: 250ms;
  }
}

@media (max-width: 768px) {
  .max-\[768px\]\:w-40 {
    width: 10rem;
  }

  .max-\[768px\]\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .max-\[768px\]\:gap-2 {
    gap: 0.5rem;
  }

  .max-\[768px\]\:gap-\[10px\] {
    gap: 10px;
  }

  .max-\[768px\]\:p-\[18px\] {
    padding: 18px;
  }

  .max-\[768px\]\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 600px) {
  .max-\[600px\]\:hidden {
    display: none;
  }

  .max-\[600px\]\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .max-\[600px\]\:flex-wrap {
    flex-wrap: wrap;
  }

  .max-\[600px\]\:gap-\[10px\] {
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .max-\[480px\]\:my-\[10px\] {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .max-\[480px\]\:mb-\[10px\] {
    margin-bottom: 10px;
  }

  .max-\[480px\]\:mb-\[14px\] {
    margin-bottom: 14px;
  }

  .max-\[480px\]\:mt-2 {
    margin-top: 0.5rem;
  }

  .max-\[480px\]\:mt-\[10px\] {
    margin-top: 10px;
  }

  .max-\[480px\]\:hidden {
    display: none;
  }

  .max-\[480px\]\:h-11 {
    height: 2.75rem;
  }

  .max-\[480px\]\:h-7 {
    height: 1.75rem;
  }

  .max-\[480px\]\:h-\[15px\] {
    height: 15px;
  }

  .max-\[480px\]\:h-\[42px\] {
    height: 42px;
  }

  .max-\[480px\]\:min-h-0 {
    min-height: 0px;
  }

  .max-\[480px\]\:w-7 {
    width: 1.75rem;
  }

  .max-\[480px\]\:w-\[15px\] {
    width: 15px;
  }

  .max-\[480px\]\:w-auto {
    width: auto;
  }

  .max-\[480px\]\:flex-1 {
    flex: 1 1 0%;
  }

  .max-\[480px\]\:flex-none {
    flex: none;
  }

  .max-\[480px\]\:flex-row {
    flex-direction: row;
  }

  .max-\[480px\]\:flex-col {
    flex-direction: column;
  }

  .max-\[480px\]\:items-center {
    align-items: center;
  }

  .max-\[480px\]\:justify-center {
    justify-content: center;
  }

  .max-\[480px\]\:gap-0 {
    gap: 0px;
  }

  .max-\[480px\]\:gap-1 {
    gap: 0.25rem;
  }

  .max-\[480px\]\:gap-2 {
    gap: 0.5rem;
  }

  .max-\[480px\]\:gap-\[6px\] {
    gap: 6px;
  }

  .max-\[480px\]\:overflow-hidden {
    overflow: hidden;
  }

  .max-\[480px\]\:p-4 {
    padding: 1rem;
  }

  .max-\[480px\]\:p-\[14px\] {
    padding: 14px;
  }

  .max-\[480px\]\:px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .max-\[480px\]\:px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .max-\[480px\]\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .max-\[480px\]\:py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .max-\[480px\]\:py-\[14px\] {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .max-\[480px\]\:py-\[18px\] {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .max-\[480px\]\:text-center {
    text-align: center;
  }

  .max-\[480px\]\:text-\[10px\] {
    font-size: 10px;
  }

  .max-\[480px\]\:text-\[17px\] {
    font-size: 17px;
  }

  .max-\[480px\]\:text-\[22px\] {
    font-size: 22px;
  }

  .max-\[480px\]\:text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .max-\[480px\]\:leading-\[1\.5\] {
    line-height: 1.5;
  }
}

@media (max-width: 420px) {
  .max-\[420px\]\:h-12 {
    height: 3rem;
  }

  .max-\[420px\]\:w-10 {
    width: 2.5rem;
  }

  .max-\[420px\]\:text-\[17px\] {
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  .md\:flex {
    display: flex;
  }

  .md\:w-\[420px\] {
    width: 420px;
  }

  .md\:max-w-\[920px\] {
    max-width: 920px;
  }

  .md\:flex-1 {
    flex: 1 1 0%;
  }

  .md\:flex-shrink-0 {
    flex-shrink: 0;
  }

  .md\:items-stretch {
    align-items: stretch;
  }
}

@media (min-width: 1024px) {
  .lg\:-ml-px {
    margin-left: -1px;
  }

  .lg\:mb-0 {
    margin-bottom: 0px;
  }

  .lg\:mb-6 {
    margin-bottom: 1.5rem;
  }

  .lg\:ml-0 {
    margin-left: 0px;
  }

  .lg\:mt-10 {
    margin-top: 2.5rem;
  }

  .lg\:block {
    display: block;
  }

  .lg\:aspect-auto {
    aspect-ratio: auto;
  }

  .lg\:w-\[438px\] {
    width: 438px;
  }

  .lg\:max-w-4xl {
    max-width: 56rem;
  }

  .lg\:grow {
    flex-grow: 1;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:justify-center {
    justify-content: center;
  }

  .lg\:rounded-r-lg {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  .lg\:rounded-t-none {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .lg\:rounded-br-none {
    border-bottom-right-radius: 0px;
  }

  .lg\:rounded-tl-lg {
    border-top-left-radius: 0.5rem;
  }

  .lg\:p-20 {
    padding: 5rem;
  }

  .lg\:p-8 {
    padding: 2rem;
  }

  .lg\:pb-10 {
    padding-bottom: 2.5rem;
  }
}

.\[\&\:\:-webkit-scrollbar-thumb\]\:rounded::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}

.\[\&\:\:-webkit-scrollbar-track\]\:bg-transparent::-webkit-scrollbar-track {
  background-color: transparent;
}

.\[\&\:\:-webkit-scrollbar\]\:h-1::-webkit-scrollbar {
  height: 0.25rem;
}

.\[\&\:\:-webkit-scrollbar\]\:w-1::-webkit-scrollbar {
  width: 0.25rem;
}
